@model List<CoreAndFood.Models.Category>
@{
    }

<h2>Category list</h2>

<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>Category Name</td>
        <td>Delete</td>
        <td>Update</td>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CategoryId</td>
            <td>@x.CategoryName</td>
            <td><a  class="btn btn-danger">Delete</a></td>
            <td><a href="#" class="btn btn-success">Update</a></td>
        </tr>
    }
</table>
<a asp-controller="Category" asp-action="CategoryAdd" class="btn btn-primary">New Category</a>